@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-5">NICE PART USAGE</h1>
    <p>A social platform where you can upload your original creations!</p>
</div>
