@{
    ViewData["Title"] = "Npu";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about </p>
    <img alt="" src="https://testexam20241998.blob.core.windows.net/pencik/signature_ap.PNG?sp=r&st=2024-02-11T15:58:04Z&se=2024-02-11T23:58:04Z&spr=https&sv=2022-11-02&sr=c&sig=tb%2BWfvGJSLJO0dKq1l%2Bhf6Qo6Vim3aXGOw3qkCq2Khg%3D" />
    <img alt="" src="https://testexam20241998.blob.core.windows.net/pencik/signature_ap.PNG?sp=r&st=2024-02-13T10:52:33Z&se=2024-02-14T18:52:33Z&spr=https&sv=2022-11-02&sr=c&sig=Uqs3BSt%2B%2F7ac90AP7lZdBkBW36hlnAdnHKI2%2Fm1MtZM%3D" />
</div>
